<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<script language="JavaScript" src="style/js/html5.js" ></script>
<link href="style/global.css" rel="stylesheet" type="text/css"s>
<style>
nav li a { color:#5E3080;}
#search { width:290px; float:right; margin-right:65px; line-height:20px; }
.s2 { margin-right:5px;}
#search a { margin-left:2px; }
#search a img { padding-top:2px;}
nav li a:hover { background:url(style/images/nava_bg.gif) bottom no-repeat; height:42px; line-height:42px; display:block;}
.jiand a:hover { background:none;}
</style>
</head>

<body>
<header>
<div id="top_box">
<div id="top">
<div id="logo">
<a href="/"><img src="style/images/logo.gif" alt=""></a>
</div>
<div id="top_r">
<div id="search">
<input type="text" value="" class="s1"><input type="image" src="style/images/ss.jpg" class="s2">
关注官方微博：<a href="#"><img src="style/images/txwb.gif" alt=""></a> <a href="#"><img src="style/images/xlwb.gif" alt=""></a>
</div>
<nav>
<ul>
<li><a href="/">首页</a></li>
<li><a href="#">走进ZNC</a></li>
<li><a href="#">产品中心</a></li>
<li><a href="#">新闻中心</a></li>
<li><a href="#">品牌中心</a></li>
<li><a href="#">加入我们</a></li>
<li class="jiand"><a href="#"><img src="style/images/dangj.png" alt=""></a></li>
</ul>
</nav>
</div>
</div>
</div>
</header>

<div id="banner">
<a href="#"><img src="style/images/banner.jpg" alt=""></a>
</div>

<div id="content">
<div class="content_l">
<div class="content_news">
<h2>新闻中心</h2>
<p class="con1"><span><a href="#"><img src="style/images/con_more.gif"></a></span><strong>集团新闻</strong></p>
<ul>
<li><a href="#">媒体关注</a></li>
<li><a href="#">最新动态</a></li>
</ul>
</div>
<div class="news_search">
<h3>新闻搜索</h3>
<p>请输入您要的关键字</p>
<form name="key" action="">
<input type="text" value="" class="ns1">
<input type="submit" value="搜索" class="ns2">
</form>
<div class="clear"></div>
</div>
<div class="news_title">
<h3><a href="#">尽在《中南人》</a></h3>
</div>
</div><!--content_l end-->
<div class="content_r">
<div class="content_r_site">
<span><a href="/">首页</a><b>>&nbsp;新闻中心&nbsp;></b>集团新闻</span><strong><em>集团</em>新闻<b>Investment Overview</b></strong>
<div class="clear"></div>
</div>
<div class="content_r_title">
中南集团组织学习十八届三中全会会议精神
</div>
<div id="abbr">
<span id="Hits">访问数：221</span> <span id="createtime">最后更新：2013年11月19日 11时03分</span> <span id="font">字体大小：<em>[大]</em><em>[中]</em><em>[小]</em></span> <span id="dayin">打印</span>
</div>
<div class="content_r_main">
<p>十八届三中全会召开后，全国上下掀起了学习十八届三中全会精神的热潮，中南集团也不例外。11月18日下午，在总部会议中心，控股集团董事长陈锦石带领各产业集团一级部门以上负责人共同学习了十八届三中全会会议精神。</p>
 　　<p>十八届三中全会是在中国改革开放事业进入到关键时刻所召开的会议，会议在政府职能转变、城镇化、金融开放、财政税收、资源定价等领域作出重要决策，就中国全面深化改革进行总体部署。英国《金融时报》报道说，十八届三中全会将成为中国经济、社会与政治全面发展的里程碑。</p>
 　　<p>会上，董事长陈锦石从政治体制改革、司法独立、市场经济的角度全面剖析了十八届三中全会的会议精神，尤其对《深化改革决定》中关于市场经济的部分表示高度认同，他认为60条改革意见是中国政治经济发展进步的表现，要抓住这样一个机遇，在改革的浪潮中寻求发展。他对在座的管理人员提出这样的要求，对十八届三中全会会议精神要有高度的认识，一只脚踩油门，一只脚踩刹车的时代已经过去，四大产业集团已进入攻坚阶段，要对公司未来的发展做全面研究和规划部署，并最终实现落地。</p>
 　　<p>此外，董事长还下一步改革整顿工作也做了进一步要求。他指出，全年的工作已经进入到了关键时刻，要将整顿工作抓得有声有色，要触动各项工作推进，触动各项经济指标的完成，努力实现全集团整体发展。</p>
<div class="content_r_pic"> <img src="style/images/ctimg.jpg" alt=""></div>
</div>
<div class="content_r_end">
<a href="#">
<img src="style/images/return.gif" alt="">
</a>
</div>
</div><!--content_r end-->
</div>
</body>
</html>
