<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SiteName/}问答系统</title> 
<link href="{$CssDir/}fques.css" rel="stylesheet" type="text/css" />
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
</head> 
<body id="header" >
<div id="home_all"> 
{ZL.Label id="蓝色头部"/}
{ZL.Label id="问答导航"/}
<div id="g_gei">
<div class="topsech">
{ZL.Label id="头部搜索表单"/}</div>
<div id="g_gei_top" ><a href="/columnlist.aspx?nodeid=113">问答系统</a>>>{ZL.Label id="获取问题分类名" parentid="{$GetRequest(smallclass)$}" /}</div>
<div id="g_gei_l"> 
<div id="asklistleft"> 
<!--box-->
<div id="showques">
<div id="showtitle">
<ul>
<li class="cbgclose"><a href="{ZL:GetNodeListUrl(115)/}&smallclass={$GetRequest(smallclass)$}">全部问题</a></li>
<li class="cbgopen"><a href="{ZL:GetNodeListUrl(116)/}&smallclass={$GetRequest(smallclass)$}">已解决问题</a></li>
<li class="cbgclose"><a href="{ZL:GetNodeListUrl(117)/}&smallclass={$GetRequest(smallclass)$}">待解决问题</a></li>
<li class="cbgclose"><a href="{ZL:GetNodeListUrl(118)/}&smallclass={$GetRequest(smallclass)$}">零回答问题</a></li>
</ul>

</div>
<div id="showcon">
<dl>
<dt><b style="margin-left:20px;">标题</b></dt>
<dd><span>阅读</span>
<span>回答</span>
<span>状态</span>
<p>回答时间</p>
</dd>
<div style="clear:both"></div>
</dl>

{ZL.Label id="小类全部问题列表" num="25" /}
</div>
</div><!--box-->
</div><!--left-->
</div>
<div id="g_gei_r">
<div id="g_gei_r_t">
<img src="{$CssDir/}images/g_lb.gif" width="14" height="15" /> <span>等待您来回答</span></div>
<div id="g_gei_r_m">
<ul>
{ZL.Label id="等待您来回答" num="20" length="32" /}
<div class="gcl"></div></ul>
</div>
<div id="g_gei_r_b"></div>


</div>
<div class="gcl"></div>
</div>

<style>
#ft{ clear: both; margin-top: 10px; line-height: 20px; text-align: center; }
#ft,#ft *{ color: #77C; font-size: 12px; font-family: Arial; white-space: nowrap; }
</style>
{ZL.Label id="蓝色底部"/}<div class="clear"></div>
</div>
<SCRIPT src="/js/openType.js" type=text/javascript></SCRIPT> 
</body>
</html>
